header {
    .flex(space-between, baseline, row);
    // position: fixed;
    width: 100%;
    background-color: @header-color;

    .logo {
        .flex(center, center);
        width: 10%;

        img {
            margin: 1rem;            
            width: 100%;
            height: 40px;
        }
    };
    nav {
        .flex(space-evenly, baseline);

        a {
            margin: 0.6rem;
            text-decoration: none;
            color: @default-font-color;
            font-size: 2rem;

            &:hover {
                color: white;
            }
        }
    }
}