header {

    .header-content {
        .flex(space-between, center, row);
        margin: 0 auto;
        // position: fixed;
        width: 500px;
        background-color: @header-color;

        img {
            margin: 1rem;            
            width: 5rem;            
            }
        }
        nav {
            .flex(space-evenly, center);

            a {
                margin: 0.6rem;
                text-decoration: none;
                color: @default-font-color;
                font-size: 2rem;

                &:hover {
                    color: white;
                }
            }
        }
    }
