.container {

    .nav-bar {
        .flex(space-between);
        margin: 0 auto;
        background-color: @navbar-color;
        img {
            width: 5rem;
            margin: 1rem;
        }
        nav {
            .flex(space-evenly);
            width: 50%;
            a {
                margin: 0.6rem;

                &:hover {
                    color: @honeydew;
               }
            }
        }
    }
}